{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-proposal-optional-chaining",
    [
      "babel-plugin-module-resolver",
      {
        "root": ["./src"], // Sets the root for these aliases to the 'src' directory
        "alias": {
          // When you write "import ... from 'config/..."
          // Babel will look for it in "./src/config/..."
          // And, importantly, it will rewrite the path in the compiled output
          // to be relative, e.g., "./config/..." from within the build folder.
          "config": "./config",
          "models": "./models",
          "routes": "./routes",
          "controllers": "./controllers",
          "utils": "./utils"
        }
      }
    ]
  ]
}
