{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "current" // This tells babel-preset-env to target the current Node.js version
        }
      }
    ]
  ],
  "plugins": [
    "transform-optional-chaining"
    // Add any other Babel 6 plugins you use here
  ]
}
