// server/.babelrc
{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-proposal-optional-chaining",
    // Your other plugins like "babel-plugin-module-resolver" should be fine
    "babel-plugin-module-resolver"
  ]
}
